<div class="flex flex-col gap-5">
    <span class="text-2xl font-medium">Bandeja de solicitudes</span>
    <div class="estilo-card-personalizado">
        <div class="flex flex-row gap-3.5">
            <div class="flex flex-col gap-2.5 w-2/6">
                <div class="flex flex-row items-center gap-2.5">
                    <mat-form-field class="form-reducido" appearance="outline">
                        <mat-label>Año</mat-label>
                        <mat-select [formControl]="ctrlAnio">
                          <mat-option value="">Todos</mat-option>
                          <mat-option *ngFor="let item of listAnio, index as i" [value]="item">{{item}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="form-reducido" appearance="outline">
                        <mat-label>Grupo Etario</mat-label>
                        <mat-select [formControl]="ctrlGrupo">
                          <mat-option value="">Todos</mat-option>
                          <mat-option *ngFor="let item of listGrupo, index as i" [value]="item">{{item}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="form-reducido" appearance="outline">
                        <mat-label>Tópico</mat-label>
                        <mat-select [formControl]="ctrlTopico">
                            <mat-option value="">Todos</mat-option>
                            <mat-option *ngFor="let item of listTopicos, index as i" [value]="item">{{item}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="expansion-panel" *ngFor="let filtro of filtrosDesplegables, index as i">
                    <div class="panel-header" (click)="toggle(i)">
                      <span>{{filtro.tituloFiltro}}</span>
                      <mat-icon class="icon" [class.rotate]="filtro.expanded">keyboard_arrow_up</mat-icon>
                    </div>
                    <div class="panel-content" [class.expanded]="filtro.expanded">
                        <div class="p-3 flex items-center justify-center" *ngIf="!filtro.isFiltroReady">
                            <mat-spinner></mat-spinner>
                        </div>
                        <div class="content-inner">
                            <div class="flex flex-col gap-2.5" *ngIf="filtro.tipoDespliegue == 1">
                                <div class="item-expansion-group" *ngFor="let tema of listTemas" (click)="tema.desplegado = !tema.desplegado" [ngClass]="tema.desplegado ? 'bg-gray-200' : ''">
                                    <div class="flex flex-row gap-2.5 items-center">
                                        <mat-icon>{{tema.desplegado ? 'keyboard_arrow_down' : 'keyboard_arrow_right'}}</mat-icon>
                                        <span>{{tema.tema}}</span>
                                    </div>
                                    <div class="flex flex-col gap-2.5 ml-6" *ngIf="tema.desplegado">
                                        <div class="flex flex-row justify-between px-1 py-1.5 min-h-10 rounded-3xl hover:bg-[#d7e3ff] hover:botonApariencia" *ngFor="let subTe of tema.subTemas" (click)="selectTema(subTe); $event.stopPropagation()" [ngClass]="subTe == ctrlTema.value ? 'bg-[#d7e3ff] botonApariencia'  : ''">
                                            <div class="flex flex-row gap-2.5 items-center">
                                                <mat-icon>forward</mat-icon>
                                                <span>{{subTe}}</span>
                                            </div>
                                            <div class="rounded-full border-[2px] border-red-500 bg-white flex items-center justify-center p-auto text-red-500 hover:bg-gray-300" *ngIf="subTe == ctrlTema.value" (click)="ctrlTema.reset(); $event.stopPropagation()">
                                                <mat-icon>cancel</mat-icon>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="flex flex-col gap-2.5" *ngIf="filtro.tipoDespliegue == 2">
                                <button class="item-expansion-panel" *ngFor="let especialidad of listEspecialidad, index as i" (click)="selectEspecialidad(especialidad)" [ngClass]="especialidad == ctrlEspecialidad.value ? 'item-selected botonApariencia' : ''">
                                    <div class="flex flex-row gap-2.5 items-center">
                                        <mat-icon>forward</mat-icon>
                                        <span>{{especialidad}}</span>
                                    </div>
                                    <div class="rounded-full border-[2px] border-red-500 bg-white flex items-center justify-center p-auto text-red-500 hover:bg-gray-300" *ngIf="especialidad == ctrlEspecialidad.value" (click)="ctrlEspecialidad.reset(); $event.stopPropagation()">
                                        <mat-icon>cancel</mat-icon>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col gap-2.5 w-4/6">
                <mat-form-field appearance="outline">
                    <mat-label>Buscar</mat-label>
                    <input matInput [formControl]="ctrlBusqueda">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
                <div class="w-full h-full relative">
                    <div class="absolute bg-[#FFFFFF88] z-10 w-full h-full justify-items-center content-center" *ngIf="loadingBuscar">
                        <mat-spinner></mat-spinner>
                        {{loadingBuscar}}
                        <span id="miDiv">asdasd</span>
                    </div>
                    <div class="flex flex-col gap-2.5">
                        <ng-container *ngFor="let items of listItemsBusqueda">
                            <div class="flex flex-col gap-2.5 border-2 rounded-lg border-[var(--color-button-primario)] px-4 py-5 text-[var(--color-black-alt)]" *ngIf="items.orden == orden">
                                <p class="whitespace-pre-line font-medium text-[16px] text-justify">{{items.Enunciado}}</p>
                                <div class="flex flex-col gap-1">
                                    <span><span class="font-semibold">Año: </span>{{items['Año']}}</span>
                                    <span><span class="font-semibold">GPC: </span>{{items['Título de la GPC']}}</span>
                                </div>
                                <div class="flex flex-row justify-end gap-5">
                                    <div class="flex flex-row gap-2.5 rounded-full px-4 py-1 items-center font-medium bg-sky-200">
                                        <span>Condicional</span>
                                        <mat-icon class="!text-green-500 scale-75">check</mat-icon>
                                    </div>
                                    <app-own-button class="botonApariencia flex" color="primary">
                                        Más detalles
                                    </app-own-button>
                                </div>
                            </div>
                        </ng-container>
                    </div>

                </div>
                <!-- <div class="flex flex-row items-start justify-between gap-2.5">
                    <app-own-button class="botonApariencia flex" color="primary">
                        Guardar Cambios
                    </app-own-button>
                </div> -->
            </div>
        </div>
    </div>
</div>