mat-form-field, mat-label{
    font-size: 14px;
}

.form-reducido{
    width: 100%;
}

::ng-deep mat-form-field{
    .mat-mdc-select-value-text{
        font-size: 14px;
    }
    
    .mdc-floating-label--float-above{
        top: calc(var(--mat-form-field-container-height, 56px) / 2) !important;
    }
    
    .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label{
        top: calc(var(--mat-form-field-container-height, 40px) / 2);
    }

    .mdc-text-field--outlined .mat-mdc-form-field-infix, .mdc-text-field--no-label .mat-mdc-form-field-infix{
        padding-top: var(--mat-form-field-container-vertical-padding, 10px) !important;
        padding-bottom: var(--mat-form-field-container-vertical-padding, 10px) !important;
    }

    .mat-mdc-form-field-infix{
        min-height: var(--mat-form-field-container-height, 40px) !important;
    }
}

.item-expansion-group{
  flex-direction: column;
  
}

.item-expansion-panel{
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.item-expansion-group, .item-expansion-panel{
  display: flex;
  gap: 0.625rem;            /* gap-2.5 */
  min-height: 2.5rem;           /* h-10 */
  font-size: 16px;          /* text-[16px] */
  padding-left: 0.25rem;    /* px-1 */
  padding-right: 0.25rem;
  padding-top: 0.375rem;    /* py-1.5 */
  padding-bottom: 0.375rem;
  border-radius: 1rem;      /* rounded-2xl */
  cursor: pointer;
  font-weight: 500;         /* font-medium */
  color: var(--color-black-alt);
}

.item-expansion-panel:hover, .item-expansion-group:hover{
  background-color: #e5e7eb;
}

.expansion-panel {
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid #1976d2;
  }
  
  .panel-header {
    background-color: #1976d2;
    font-size: 14px;
    font-weight: 500;
    color: white;
    padding: 8px 12px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
  }
  
  .icon {
    transition: transform 0.3s ease;
  }
  
  .icon.rotate {
    transform: rotate(180deg);
  }
  
  .panel-content {
    background-color: white;
    max-height: 0;
    overflow: auto;
    transition: max-height 1s ease;
  }
  
  .panel-content.expanded {
    max-height: 350px;
  }
  
  .content-inner {
    padding: 12px;
  }

  .item-selected{
    background-color: #d7e3ff;
  }